doctype html
html
  include partials/head.pug
  body
    include partials/header.pug
    include partials/listen-section.pug
    include partials/foot.pug
    script(type="text/javascript", src="index.js")
