doctype html
html
  include partials/head.pug
  body
    include partials/header.pug
    include partials/listen-section.pug
    include partials/bio-section.pug
    include partials/watch-section.pug
    include partials/follow-section.pug
    script(type="text/javascript", src="/js/app.min.js")
  include partials/foot.pug
