doctype html
html
  head
  link(rel='stylesheet', href='/css/index.css')
  title Artist Website

  body
  .header
    h1. Artist Website
  p.
    This is a test

  .footer
    Copyright Stephen Grable 
