.section(class="bio-section")
  #bio
    .bio-container
      .media
        .bio-img-container
          img(src="/media/gary_clark_jr_portrait.png", width="100px", alt="Artist Bio Photo")
        .bio-text
          p(class="bio-text-short").
            Gary Clark Jr. (born February 15, 1984) is an American musician from Austin, Texas. Dubbed 'The Chosen One', Clark has shared the stage with many legends of rock and roll, including Eric Clapton, B. B. King and the Rolling Stones. He is best known for his fusion of blues, rock and soul music with elements of hip hop. Clark's musical trademarks are his distorted guitar sound, heavy use of improvisation and his silky smooth vocal style.
          
