.section(class="follow-section")
  #follow
    .follow-container
      .social-links
        .social-links-container
          .img-container
            a(href="#")
              img(src="icons/facebook_icon.svg", id="fb")
          .img-container
            a(href="#")
              img(src="icons/instagram_icon.svg", id="insta")
          .img-container
            a(href="#")
              img(src="icons/twitter_icon.svg", id="twt")
          .img-container
            a(href="#")
              img(src="icons/youtube_icon.svg", id="yt")
          .img-container
            a(href="#")
              img(src="icons/spotify_icon.svg", id="spotify")
