.header-container
  header
    .hamburger-container
      .hamburger
        span.line
        span.line
        span.line
    .nav
      .close-nav-container
        .close-nav
          span.line
          span.line
      .nav-container
        ul
          a(href="#listen")
            li(id="listenNav") Listen
          a(href="#watch")
            li(id="watchNav") Watch
          a(href="#bio")
            li(id="bioNav") Bio
          a(href="#follow")
            li(id="followNav") Follow
    h1 Artist Name
