.bio-section{
  background-image: url('/media/bright_section_bg.png');
  background-repeat: repeat;
}

.bio-container{
  margin:auto;
  padding: 1.5rem 0 2rem 1rem;
  width:70%;
}

.bio-text{
  width:40%;
  font-size: 15px;
  float:left;
}

.bio-img-container{
  padding-top: .5rem;
  width:50%;
  float:right;
  img{
    width:100%;
    margin:auto;
  }
}

@media screen and (max-width:320px){
  .bio-section{
    height: 610px;
  }
  .bio-text {
    width:250px;
  }

  .bio-img-container{
    width:150px;
    float: none;
    margin:auto;
    img{
      width:100%;
      margin: auto;
    }
  }
}

@media screen and (max-width:460px) and (min-width:321px) {
  .bio-section{
    height: 635px;
  }
  .bio-text {
    width:100%;
  }

  .bio-img-container{
    width:60%;
    float: none;
    margin:auto;
    img{
      width:100%;
      margin: auto;
    }
  }
}

@media screen and (max-width:560px) and (min-width:461px) {
  .bio-section{
    height: 625px;
  }
  .bio-text {
    width:100%;
  }

  .bio-img-container{
    width:60%;
    float: none;
    margin:auto;
    img{
      width:100%;
      margin: auto;
    }
  }
}

@media screen and (max-width:620px) and (min-width:561px) {
  .bio-section{
    height: 640px;
  }

  .bio-text {
    padding-bottom: 1rem;
    width:100%
  }

  .bio-img-container{
    width:60%;
    float: none;
    margin:auto;
    img{
      width:100%;
      margin: auto;
    }
  }
}



@media screen and (min-width:621px) and (max-width:680px) {
  .bio-section{
    height: 660px;
  }

  .bio-text {
    padding-bottom: 1rem;
    width:100%
  }

  .bio-img-container{
    width:60%;
    float: none;
    margin:auto;
    img{
      width:100%;
      margin: auto;
    }
  }
}

@media screen and (min-width:681px) and (max-width:800px) {
  .bio-section{
    height: 500px;
  }
  .bio-text {
    margin: 0 0 0 0;
  }
  .bio-img-container{
    margin-top: .2rem;
    width:50%;
    img{
      width:260px;
      margin: auto;
    }
  }
}

@media screen and (min-width:801px) {
  .bio-section{
    height: 500px;
  }
  .bio-img-container{
    width:275px;
    margin-right: .5rem;
    img{
      width:275px;

    }
  }

  .bio-text{
    margin: 1rem 0 0 .5rem;
  }
}

@media screen and (min-width:900px) {
  .bio-text{
    margin: 2.5rem 0 0 .5rem;
  }
}

@media screen and (min-width:1200px) {
  .bio-section{
    background-color: $medium-grey;
    height: 480px;
  }
  .bio-img-container{
    margin-right: 2.5rem;
  }
  .bio-text{
    margin: 5rem 0 0 2.5rem;
  }
}


.bio-text-extended{
  display: none;
}


.read-more{
  color:blue;
  text-decoration:underline;
  display: inline;
}

.read-more:hover {
  cursor: pointer;
}
