$social-ids: fb, twt, spotify, insta, yt;

.follow-section{
  background-color: $medium-grey;
  height: 100px;
  margin-bottom: 0;
}

.social-links{
  width:320px;
  margin: auto;
}

.social-links-container{
  padding: 2rem 0 0 1.5rem;
  width:90%;
  margin: auto;

  .img-container{
    width:40px;
    margin: 0 1rem 0 0;
    float: left;
  }

  img{
    transition: .2s;
  }
}

@each $id in $social-ids {
  .#{$id} {
    width:40px;
  }
}
