$social-ids: fb, twt, spotify, insta, yt;

.follow-section{
  background-color: $medium-grey;
  height: 100px;
  margin-bottom: -1rem;
}

.social-links{
  width:320px;
  height:90px;
  padding-left: 1.5rem;
  margin: auto;
}

.social-links-container{
  width:90%;
  background-color: blue;

  transition: .2s;
  margin: auto;


  .img-container{

    width:40px;
    margin: 0 1rem 0 0;
    float: left;
  }

  img{
    margin-top: 80px;
    transition: .5s;
  }
}

@each $id in $social-ids {
  .#{$id} {
    margin-top: 50px;
    width:40px;
  }
}
