html, body{
  margin-right: -8px;
  margin-left: -6px;
  margin-bottom: -8px;
}

.media {
  opacity: 0;
}

@import "base/variables";
@import "partials/header";
@import "partials/mobile-nav";
@import "partials/listen-section";
@import "partials/bio-section";
@import "partials/watch-section";
@import "partials/follow-section";
@import "partials/foot";
