html, body{
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: -8px;
  font-family: 'Open Sans', sans-serif;
}

@import "base/variables";
@import "partials/header";
@import "partials/mobile-nav";
@import "partials/listen-section";
@import "partials/bio-section";
@import "partials/watch-section";
@import "partials/follow-section";
@import "partials/foot";
